body{
    background-color:white;
    width:100%;
    height: 100vh;
}
.container{
    width:250px;
    height:100vh;
    background-color:gray;
    top:0;
    margin-top:-8px;
    margin-left:-10px;
    position: fixed;
}
.first-info{
    display: flex;
    width:100%;
    height:30px;
    margin-left:30px;
 
}
.title-1{
    margin-left:10px;
    color:white;
    font-size: 20px;
    font-weight:300;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.logo-2{
    width:40px;
    height:40px;
    border-radius:50%;
    margin-left:20px;
}
.logo-first{
    margin-top:17px;
    width:30px;
    height:30px;
    border-radius:50%;
}
.title-f{
    color:silver;
    font-size: 20px;
    margin-left:40px;
    width:100%;
    height:30px;
}
.nav-links{
    width:100%;
    height:200px;
}
.nav-links ul li{
    list-style: none;
}
.nav-links ul li a {
    text-decoration: none;
   justify-content: space-between;
   width:100%;
   height:25px;
   color:white;
}
.nav-links ul li a span{
    margin-left:20px;
    font-size: 20px;
}
.nav-links ul li a:hover{
    background-color:#ccc;
    padding:9px;
    border-radius:4px;
}
.title-5{
    margin-left:20px;
    color:white;
    text-transform:capitalize;
    width:80%;
    height:30px;
    text-align:center;
    margin-top:3px;
    border-radius:4px;
}
.title-5:hover{
  background-color:#ccc;
  cursor:pointer;
}
.nav-links-2 ul li{
    list-style:none;
}
.nav-links-2 ul li a{
    text-decoration:none;
    width:100%;
    height:30px;
}
.nav-links-2 ul li a span{
    margin-left:20px;
    font-size: 16px;
    text-transform: capitalize;
    color:white;
}
.nav-links-2 ul li a i{
    color:white;
}
.nav-links-2 ul li a:hover{
    background-color:#ccc;
    padding:9px;
    border-radius:4px;
}
.fa-light{
    margin-left:100px;
}
.nav-links-2{
    width:100%;
    height:200px;
}
.nav-links-3{
    width:100%;
    height:200px;
}
.nav-links-3 ul li {
    list-style: none;
}
.nav-links-3 ul li a{
    text-decoration: none;
    color:black;
    font-size: 14px;
}
.nav-links-3 ul li a span{
    color:white;
    margin-left:20px;
}
.nav-links-3 ul li a i{
    color:white;
}
.nav-links-3 ul li a:hover{
    background-color:#ccc;
    padding:9px;
    border-radius:4px;
}
.description{
    width:100%;
    height:60px;
    background-color:white;
  margin-top:-20px;
    position: fixed;
    margin-left:240px;
    display:flex;
}
.title-sd{
    color:black;
    font-size: 22px;
    margin-left:20px;
    cursor: pointer;
}
.search-box {
    margin-top:20px;
    margin-left:500px;
   
}
.search-box input{
    width:200px;
    outline:none;
    border:none;
    height:30px;
    background-color:whitesmoke;
}
.search{
    outline:none;
    border:none;
    background-color:royalblue;
    color:white;
    height:30px;
   margin-left:-4px;
   width:50px;
}
.description{
    border-bottom:1px solid silver;
}
.description-2{
    width: 100%;
    margin-left:300px;
 position: fixed;
 margin-top:30px;
}
.workset{
    font-size: 20px;
    color:silver;
    text-transform: capitalize;
}
.some-description-info{
    color:silver;
    font-size: 16px;
    margin-top:-25px;
}
.container-4{
   width:100%;
   height:300px;
   display:flex;
   margin-left: 100px;
   position:fixed;
   margin-top:120px;

}
.first-container{
    width:200px;
    height:100px;
    background-color:white;
    margin-left:192px;
    border-radius:5px;
    display:flex;
}
.logo-bit{
    width:40px;
    height:40px;
    border-radius:50%;
   margin-left:10px;
   margin-top:10px;
}
.first-container:hover{
    transform:translateY(4px);
    transition:0.2s;
    box-shadow:3px 3px 3px 3px silver;
}
.number-of-users{
   margin-left:10px;
   font-size: 15px;
   font-weight: bold;
   
}
.fa-caret-down{
    margin-left:90px;
}
.statistiques-container{
    margin-left:300px;
    position:fixed;
    margin-top:200px
}
.stat{
    color:silver;
    font-size: 20px;
    font-weight: bold;
    cursor:pointer;
    text-transform: capitalize;
    margin-top:30px;
}
.active{
    background-color: royalblue;
    color:white;
}
.active-1{
    background-color:green;
    color:white;
}
.active-2{
    background-color:red;
    color:white;
}
.first-btn-a{
    background-color:royalblue;
    color:white;
    width:150px;
    outline:none;
    border:none;
    padding:4px;
    border:1px solid white;
    margin-left:-30px;
}
.first-btn-b{
    background-color:green;
    color:white;
    width:150px;
    outline:none;
    border:none;
    padding:4px;
    border:1px solid white;
    margin-left:-30px;
}
.first-btn-c{
    background-color:red;
    color:white;
    width:150px;
    outline:none;
    border:none;
    padding:4px;
    border:1px solid white;
    margin-left:-30px;
}
table th{
    width:150px;
    height:30px;
    background-color:silver;
    color:white;
    font-size: 16px;
    text-transform: capitalize;
    cursor:pointer;
    border-radius:4px;
}
table tr td{
   text-align:center;
   cursor:pointer;
}
table{
    margin-top:70px;
    margin-left:-20px
}
#donutchart{
    width:500px;
    height:200px;
    margin-left:850px;
    margin-top:330px;
    position: fixed;
    
}
